/*Boje*/
$crvena-boja: #a51129;
$navbar-boja: rgba(0,0,0,0.5);
$siva-boja: #333333;
$svetlosiva-boja: rgb(224,224,224);
$border-providan: 1px solid rgba(255,255,255,0.5);

/*Vrednosti*/
$desktop-sirina: 80%;
$mobilni-sirina: 85%;
